<div class="big-card-container">
    <div class="big-card-photo">
        <img src="https://img.freepik.com/fotos-gratis/um-por-do-sol-sobre-uma-praia-com-um-por-do-sol-dourado-ao-fundo_188544-33419.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721001600&semt=sph"
        alt=""
        height="200px"
        >
    </div>
    <div class="big-card-title">
        <h1><a href="#">Contratando nóia</a></h1>
    </div>
    <div class="big-card-description">
        <p><a href="#">Nóia para trabalhar</a></p>
    </div>
</div>